.form-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: black;
}
.form-label {
    font-weight: bold;
    color: white;
}

.navbar-custom {
    background-color: black; 
}
.navbar-brand {
    font-weight: bold;
    color: white;
}
.navbar-nav .nav-link {
    font-size: 1rem;
    color: white;
}
.btn-outline-success {
    margin-left: 10px; 
    color: black;
    background-color: white;
}
.btn-outline-success a {
    color: inherit; 
}

.btn-outline-success:hover {
    background-color: black;
    color: white; 
}
#logout{
    background-color: black; border: 1px solid white; color: white; margin-right: 10px; border-radius: 8px; padding: 7px; width: 80px;
} 
#logout:hover{
    border: black;
}
#profileBtn{
    background-color: black; border: 1px solid white; color: white;  border-radius: 8px; padding: 7px; width: 80px;
} 
#profileBtn:hover{
    border: black;
}
@media (max-width: 768px) {
    #profileBtn
{
   margin-right: 10px ;
}}
#cblog{
    background-color: black; border: 1px solid white; color: white; margin-right: 10px; border-radius: 8px; padding: 7px; width: 120px;
} 
#cblog:hover{
    border: black;
}
#Submitbtn{
    color: white; background-color: black; border: 1px solid white;
}
#Submitbtn:hover{
    border: 1px solid black
}
#Myblogs{
    color: white; font-weight: bold
}
#Myblogs:hover{
    color: darkgray; 
}
#home{
    color: white; font-weight: bold
}
#home:hover{
    color:darkgray; 
}
.card {
    background-color: black;
    color: white;
    border: 2px solid black; 
    border-radius: 5px;
    width: 100%;
    
  }

  .card-header {
    padding: 0;
  }

  .card-header img {
border-radius: 5px;
    width: 100%;
    height: 300px;
  }

  .card-body {
    padding: 1rem; }

  .card-title {
    color: white; }

  .card-text {
    color: white;
  }

  button {
    background-color: #343a40;
    border: none;
    color: white; 
    margin: 0.5rem; 
    cursor: pointer;
  }

  button:hover {
    background-color: #495057; 
  }
  /* profile styling */
  .side-panel {
  position: fixed;
  top: 0;
  right: -300px; 
  width: 300px;
  height: 100%;
  background-color: #000;
  color: #fff;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  transition: right 0.5s ease;
  padding: 20px;
  overflow-y: auto;
  z-index: 1050; 
}

.side-panel.open {
  right: 0;
}

.side-panel .close-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

      .navbar-brand {
          color: black;
      }

      .navbar-toggler {
          border: none;
      }
      @media (max-width: 768px) {
        .side-panel {
          width: 250px; 
        }
      }
      
      @media (max-width: 576px) {
        .side-panel {
          width: 200px; 
        }
      
        .profile-button {
          bottom: 15px;
          right: 15px;
          padding: 8px 12px; 
        }
      }